<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="xamarinios10" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="xamarinios10" />
  <package id="Caliburn.Micro.Xamarin.Forms" version="3.2.0" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Memory" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="0.9.1-preview" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="xamarinios10" />
</packages>